body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

section {
    width: 250px;
    height: 300px;
    border: 2px black solid;
    border-radius: 7px;
    margin-top: 15%;
    background-color: black;
}

